#postTitle {
    margin: auto;
    font-weight: 800;
    font-family: fantasy;
}

#content {
    font-weight: 600;
    font-family: fantasy;
}

#postCards {
   margin: 0 auto;
   margin-bottom: 3px;
   margin-top: 3px;
   float: none;
    background-color: #F4F4F9;
    max-width: 60rem;
   min-width: 25rem;

}

#Modal {
    background-color: #F4F4F9;
    color: #1C2C54;
    font-family: fantasy;
}

#modalHeader {
    background-color: #1C2C54;
    color: #F4F4F9;
}
#modalTitle {
    max-width: 100%;
    border: #D175B7;
    border-style: groove;
    
}
#modalContent {
    max-width: 100%;
    border: #D175B7;
    border-style: groove;
}